i {display: flex; align-items: center; justify-content: center; background-repeat: no-repeat; background-position: center; background-size: contain;}

/* icon : a b c d e f g h i j k l m n o p q r s t u v w x y z */
.ic-arrow-left-20 {width: 2rem; height: 2rem; background-image: url(/assets/img/ico/ic-arrow-left-20.svg);}
.ic-arrow-left-24 {width: 2.4rem; height: 2.4rem; background-image: url(/assets/img/ico/ic-arrow-left-24.svg);}
.ic-arrow-right-16 {width: 1.6rem; height: 1.6rem; background-image: url(/assets/img/ico/ic-arrow-right-16.svg);}
.ic-arrow-right-20 {width: 2rem; height: 2rem; background-image: url(/assets/img/ico/ic-arrow-right-20.svg);}
.ic-arrow-right-20-gr {width: 2rem; height: 2rem; background-image: url(/assets/img/ico/ic-arrow-right-20-gr.svg);}
.ic-arrow-right-24 {width: 2.4rem; height: 2.4rem; background-image: url(/assets/img/ico/ic-arrow-right-24.svg);}
.ic-arrow-up-20 {width: 2rem; height: 2rem; background-image: url(/assets/img/ico/ic-arrow-up-20.svg);}
.ic-arrow-up-24 {width: 2.4rem; height: 2.4rem; background-image: url(/assets/img/ico/ic-arrow-up-24.svg);}
.ic-arrow-down-20 {width: 2rem; height: 2rem; background-image: url(/assets/img/ico/ic-arrow-down-20.svg);}
.ic-arrow-down-24 {width: 2.4rem; height: 2.4rem; background-image: url(/assets/img/ico/ic-arrow-down-24.svg);}
.ic-arrow-down-32 {width: 3.2rem; height: 3.2rem; background-image: url(/assets/img/ico/ic-arrow-down-32.svg);}

.ic-team-change {width: 1.2rem; height: .8rem; background-image: url(/assets/img/ico/ic-team-change.svg);}
.ic-ball {width: 1.2rem; height: 1.2rem; background-image: url(/assets/img/ico/ic-ball.png);}
.ic-search-12 {width: 1.2rem; height: 1.2rem; background-image: url(/assets/img/ico/ic-search-12.svg);}
.ic-alarm {width: 1.2rem; height: 1.2rem; background-image: url(/assets/img/ico/ic-alarm-12.svg);}

.ic-delete-16 {width: 1.6rem; height: 1.6rem; background-image: url(/assets/img/ico/ic-delete-16.svg);}
.ic-success {width: 1.6rem; height: 1.6rem; background-image: url(/assets/img/ico/ic-success.svg);}
.ic-try {width: 1.6rem; height: 1.6rem; background-image: url(/assets/img/ico/ic-try.svg);}
.ic-info {width: 1.6rem; height: 1.6rem; background-image: url(/assets/img/ico/ic-info.svg);}
.ic-info-red {width: 1.6rem; height: 1.6rem; background-image: url(/assets/img/ico/ic-info-red.svg);}

.ic-equal {width: 3.6rem; height: 3.6rem; background-image: url(/assets/img/ico/ic-equal.svg);}

.ic-more-20 {width: 2rem; height: 2rem; background-image: url(/assets/img/ico/ic-more-20.svg);}
.ic-write {width: 2rem; height: 2rem; background-image: url(/assets/img/ico/ic-write.svg);}
.ic-reply {width: 2rem; height: 2rem; background-image: url(/assets/img/ico/ic-reply.svg);}
.ic-report {width: 2rem; height: 2rem; background-image: url(/assets/img/ico/ic-report.svg);}
.ic-qr {width: 2rem; height: 2rem; background-image: url(/assets/img/ico/ic-qr.svg);}
.ic-qr-disabled {width: 2rem; height: 2rem; background-image: url(/assets/img/ico/ic-qr-disabled.svg);}
*:disabled > .ic-qr {background-image: url(/assets/img/ico/ic-qr-disabled.svg);}
.ic-clock {width: 2rem; height: 2rem; background-image: url(/assets/img/ico/ic-clock.svg);}

.ic-date-nav-prev {width: 2.4rem; height: 2.4rem; background-image: url(/assets/img/ico/ic-date-nav-prev.svg);}
.ic-date-nav-next {width: 2.4rem; height: 2.4rem; background-image: url(/assets/img/ico/ic-date-nav-next.svg);}
.ic-list {width: 2.4rem; height: 2.4rem; background-image: url(/assets/img/ico/ic-list.svg);}
.ic-calendar {width: 2.4rem; height: 2.4rem; background-image: url(/assets/img/ico/ic-calendar.svg);}
.ic-more {width: 2.4rem; height: 2.4rem; background-image: url(/assets/img/ico/ic-terms-more.svg);}
.ic-more-wh {width: 2.4rem; height: 2.4rem; background-image: url(/assets/img/ico/ic-more-wh.svg);}
.ic-more-circle {width: 2.4rem; height: 2.4rem; background-image: url(/assets/img/ico/ic-more.svg);}
.ic-more-circle-wh {width: 2.4rem; height: 2.4rem; background-image: url(/assets/img/ico/ic-more-circle-wh.svg);}
.ic-more-down {width: 1rem; height: .6rem; background-image: url(/assets/img/ico/ic-more-down.svg);}
.ic-prev {width: 2.4rem; height: 2.4rem; background-image: url(/assets/img/ico/ic-prev.svg);}
.ic-delete {width: 2.4rem; height: 2.4rem; background-image: url(/assets/img/ico/ic-delete.svg);}
.ic-delete-circle {width: 2.4rem; height: 2.4rem; background-image: url(/assets/img/ico/ic-delete.svg);}
.ic-reset {width: 2.4rem; height: 2.4rem; background-image: url(/assets/img/ico/ic-reset.svg);}
.ic-help {width: 2.4rem; height: 2.4rem; background-image: url(/assets/img/ico/ic-help.svg);}
.ic-horiz {width: 2.4rem; height: 2.4rem; background-image: url(/assets/img/ico/ic-horiz.svg);}
.ic-heart {width: 2.4rem; height: 2.4rem; background-image: url(/assets/img/ico/ic-heart.svg);}
.active > .ic-heart {background-image: url(/assets/img/ico/ic-heart-ov.svg);}
.ic-heart-ov {width: 2.4rem; height: 2.4rem; background-image: url(/assets/img/ico/ic-heart-ov.svg);}
.ic-ball-24 {width: 2.4rem; height: 2.4rem; background-image: url(/assets/img/ico/ic-ball-24.svg);}
.ic-ball-disabled {width: 2.4rem; height: 2.4rem; background-image: url(/assets/img/ico/ic-ball-disabled.svg);}
.ic-excel {width: 2.4rem; height: 2.4rem; background-image: url(/assets/img/ico/ic-excel.svg);}
.ic-search {width: 2.4rem; height: 2.4rem; background-image: url(/assets/img/ico/ic-search.svg);}
.ic-download {width: 2.4rem; height: 2.4rem; background-image: url(/assets/img/ico/ic-download.svg);}
.ic-plus {width: 2.4rem; height: 2.4rem; background-image: url(/assets/img/ico/ic-plus.svg);}
.ic-minus {width: 2.4rem; height: 2.4rem; background-image: url(/assets/img/ico/ic-minus.svg);}
.ic-cart {width: 2.4rem; height: 2.4rem; background-image: url(/assets/img/ico/ic-cart.svg);}
.ic-cart-gr {width: 2.4rem; height: 2.4rem; background-image: url(/assets/img/ico/ic-cart-gr.svg);}
.ic-btn-minus {width: 2.4rem; height: 2.4rem; background-image: url(/assets/img/ico/ic-btn-minus.svg);}
.ic-btn-plus {width: 2.4rem; height: 2.4rem; background-image: url(/assets/img/ico/ic-btn-plus.svg);}
.ic-comments {width: 2.4rem; height: 2.4rem; background-image: url(/assets/img/ico/ic-comments.svg);}
.ic-comments-wh {width: 2.4rem; height: 2.4rem; background-image: url(/assets/img/ico/ic-comments-wh.svg);}
.ic-pin {width: 2.4rem; height: 2.4rem; background-image: url(/assets/img/ico/ic-pin-24.svg);}
.ic-edit {width: 2.4rem; height: 2.4rem; background-image: url(/assets/img/ico/ic-edit.svg);}
.ic-edit-24 {width: 2.4rem; height: 2.4rem; background-image: url(/assets/img/ico/ic-edit-24.svg);}
.ic-ticket {width: 2.4rem; height: 2.4rem; background-image: url(/assets/img/ico/ic-ticket.svg);}
.ic-store {width: 2.4rem; height: 2.4rem; background-image: url(/assets/img/ico/ic-store.svg);}
.ic-inquiry {width: 2.4rem; height: 2.4rem; background-image: url(/assets/img/ico/ic-inquiry.svg);}
.ic-participation {width: 2.4rem; height: 2.4rem; background-image: url(/assets/img/ico/ic-participation.svg);}
.ic-setting {width: 2.4rem; height: 2.4rem; background-image: url(/assets/img/ico/ic-setting.svg);}
.ic-question {width: 2.4rem; height: 2.4rem; background-image: url(/assets/img/ico/ic-question-24.svg);}
.ic-drag {width: 2.4rem; height: 2.4rem; background-image: url(/assets/img/ico/ic-drag.svg);}

.ic-like {width: 2.4rem; height: 2.4rem; background-image: url(/assets/img/ico/ic-like.svg);}
.active .ic-like {background-image: url(/assets/img/ico/ic-like-ov.svg);}
.ic-like-ov {width: 2.4rem; height: 2.4rem; background-image: url(/assets/img/ico/ic-like-ov.svg);}
.ic-like-wh {width: 2.4rem; height: 2.4rem; background-image: url(/assets/img/ico/ic-like-wh.svg);}
.active > .ic-like-wh {background-image: url(/assets/img/ico/ic-like-wh-ov.svg);}
.ic-like-wh-ov {width: 2.4rem; height: 2.4rem; background-image: url(/assets/img/ico/ic-like-wh-ov.svg);}
.ic-dislike {width: 2.4rem; height: 2.4rem; background-image: url(/assets/img/ico/ic-dislike.svg);}
.active .ic-dislike {background-image: url(/assets/img/ico/ic-dislike-ov.svg);}
.ic-dislike-ov {width: 2.4rem; height: 2.4rem; background-image: url(/assets/img/ico/ic-dislike-ov.svg);}

.ic-mdcoupon {width: 2.4rem; height: 2.4rem; background-image: url(/assets/img/ico/ic-mdcoupon.svg);}
.ic-mdcalendar {width: 2.4rem; height: 2.4rem; background-image: url(/assets/img/ico/ic-mdcalendar.svg);}
.ic-ticketcoupon {width: 2.4rem; height: 2.4rem; background-image: url(/assets/img/ico/ic-ticketcoupon.svg);}
.ic-sticker {width: 2.4rem; height: 2.4rem; background-image: url(/assets/img/ico/ic-sticker.svg);}
.ic-puzzle {width: 2.4rem; height: 2.4rem; background-image: url(/assets/img/ico/ic-puzzle.svg);}
.ic-starbadge {width: 2.4rem; height: 2.4rem; background-image: url(/assets/img/ico/ic-starbadge.svg);}
.ic-trophy {width: 2.4rem; height: 2.4rem; background-image: url(/assets/img/ico/ic-trophy.svg);}
.ic-answer-true {width: 2.4rem; height: 2.4rem; background-image: url(/assets/img/ico/ic-answer-true.svg);}
.ic-answer-false {width: 2.4rem; height: 2.4rem; background-image: url(/assets/img/ico/ic-answer-false.svg);}
.ic-coin {width: 2.4rem; height: 2.4rem; background-image: url(/assets/img/ico/ic-coin.svg);}
.ic-play {width: 2.4rem; height: 2.4rem; background-image: url(/assets/img/ico/ic-play.svg);}
.ic-stop {width: 2.4rem; height: 2.4rem; background-image: url(/assets/img/ico/ic-stop.svg);}
.ic-doll {width: 2.4rem; height: 2.4rem; background-image: url(/assets/img/ico/ic-doll.svg);}
.ic-photo {width: 2.4rem; height: 2.4rem; background-image: url(/assets/img/ico/ic-photo.svg);}
.ic-checkin {width: 2.4rem; height: 2.4rem; background-image: url(/assets/img/ico/ic-checkin.svg);}
.ic-rewards {width: 2.4rem; height: 2.4rem; background-image: url(/assets/img/ico/ic-rewards.svg);}

.ic-mypage {width: 2.8rem; height: 2.8rem; background-image: url(/assets/img/ico/ic-mypage.svg);}
.ic-language {width: 2.8rem; height: 2.8rem; background-image: url(/assets/img/ico/ic-language.svg);}
.ic-mobile-menu {width: 2.8rem; height: 2.8rem; background-image: url(/assets/img/ico/ic-mobile-menu.svg);}
.ic-shutdown {width: 2.8rem; height: 2.8rem; background-image: url(/assets/img/ico/ic-shutdown.svg);}
.ic-close {width: 2.8rem; height: 2.8rem; background-image: url(/assets/img/ico/ic-close.svg);}
.ic-share {width: 2.8rem; height: 2.8rem; background-image: url(/assets/img/ico/ic-share.svg);}
.ic-share-wh {width: 2.8rem; height: 2.8rem; background-image: url(/assets/img/ico/ic-share-wh.svg);}

.ic-player-add {width: 4rem; height: 4rem; background-image: url(/assets/img/ico/ic-player-add.svg);}

.ic-password-delete {width: 4.4rem; height: 4.4rem; background-image: url(/assets/img/ico/ic-password-delete.svg);}

.ic-empty-60 {width: 6rem; height: 6rem; background-image: url(/assets/img/ico/ic-empty-60.svg);}
.ic-error-60 {width: 6rem; height: 6rem; background-image: url(/assets/img/ico/ic-error-60.svg);}
.ic-chk-60 {width: 6rem; height: 6rem; background-image: url(/assets/img/ico/ic-chk-60.svg);}
.ic-gift-60 {width: 6rem; height: 6rem; background-image: url(/assets/img/ico/ic-gift.svg);}
.ic-gift-60-ov {width: 6rem; height: 6rem; background-image: url(/assets/img/ico/ic-gift-ov.svg);}

/* intro */
.ic-business01 {width: 3.2rem; height: 3.2rem; background-image: url(/assets/img/ico/ic-business01.svg);}
.ic-business02 {width: 3.2rem; height: 3.2rem; background-image: url(/assets/img/ico/ic-business02.svg);}
.ic-business03 {width: 3.2rem; height: 3.2rem; background-image: url(/assets/img/ico/ic-business03.svg);}
.ic-business04 {width: 3.2rem; height: 3.2rem; background-image: url(/assets/img/ico/ic-business04.svg);}
.ic-business05 {width: 3.2rem; height: 3.2rem; background-image: url(/assets/img/ico/ic-business05.svg);}
.ic-business06 {width: 3.2rem; height: 3.2rem; background-image: url(/assets/img/ico/ic-business06.svg);}
.ic-business07 {width: 3.2rem; height: 3.2rem; background-image: url(/assets/img/ico/ic-business07.svg);}
.ic-business08 {width: 3.2rem; height: 3.2rem; background-image: url(/assets/img/ico/ic-business08.svg);}
.ic-business09 {width: 3.2rem; height: 3.2rem; background-image: url(/assets/img/ico/ic-business09.svg);}
.ic-business10 {width: 3.2rem; height: 3.2rem; background-image: url(/assets/img/ico/ic-business10.svg);}

/* pagination */
.ic-pagination-first {width: 3.2rem; height: 3.2rem; background-image: url(/assets/img/ico/ic-pagination-first.svg);}
.disabled .ic-pagination-first {background-image: url(/assets/img/ico/ic-pagination-first-disabled.svg);}

.ic-pagination-prev {width: 3.2rem; height: 3.2rem; background-image: url(/assets/img/ico/ic-pagination-prev.svg);}
.disabled .ic-pagination-prev {background-image: url(/assets/img/ico/ic-pagination-prev-disabled.svg);}

.ic-pagination-next {width: 3.2rem; height: 3.2rem; background-image: url(/assets/img/ico/ic-pagination-next.svg);}
.disabled .ic-pagination-next {background-image: url(/assets/img/ico/ic-pagination-next-disabled.svg);}

.ic-pagination-last {width: 3.2rem; height: 3.2rem; background-image: url(/assets/img/ico/ic-pagination-last.svg);}
.disabled .ic-pagination-last {background-image: url(/assets/img/ico/ic-pagination-last-disabled.svg);}

/* sns */
.ic-footer-youtube {width: 2.8rem; height: 2.8rem; background-image: url(/assets/img/ico/ic-footer-youtube.svg);}
.ic-footer-facebook {width: 2.8rem; height: 2.8rem; background-image: url(/assets/img/ico/ic-footer-facebook.svg);}
.ic-footer-naverpost {width: 2.8rem; height: 2.8rem; background-image: url(/assets/img/ico/ic-footer-naverpost.svg);}
.ic-footer-navertv {width: 2.8rem; height: 2.8rem; background-image: url(/assets/img/ico/ic-footer-navertv.svg);}
.ic-footer-instagram {width: 2.8rem; height: 2.8rem; background-image: url(/assets/img/ico/ic-footer-instagram.svg);}
.ic-footer-afreecatv {width: 2.8rem; height: 2.8rem; background-image: url(/assets/img/ico/ic-footer-afreecatv.svg);}

.ic-sns-youtube {width: 2.8rem; height: 2.8rem; background-image: url(/assets/img/ico/ic-sns-youtube.svg);}
.ic-sns-facebook {width: 2.8rem; height: 2.8rem; background-image: url(/assets/img/ico/ic-sns-facebook.svg);}
.ic-sns-post {width: 2.8rem; height: 2.8rem; background-image: url(/assets/img/ico/ic-sns-post.svg);}
.ic-sns-navertv {width: 2.8rem; height: 2.8rem; background-image: url(/assets/img/ico/ic-sns-navertv.svg);}
.ic-sns-instagram {width: 2.8rem; height: 2.8rem; background-image: url(/assets/img/ico/ic-sns-instagram.svg);}
.ic-sns-afreecatv {width: 2.8rem; height: 2.8rem; background-image: url(/assets/img/ico/ic-sns-afreecatv.svg);}

.ic-detail-facebook {width: 3.2rem; height: 3.2rem; background-image: url(/assets/img/ico/ic-detail-facebook.svg);}
.ic-detail-instagram {width: 3.2rem; height: 3.2rem; background-image: url(/assets/img/ico/ic-detail-instagram.svg);}
.ic-detail-twitter {width: 3.2rem; height: 3.2rem; background-image: url(/assets/img/ico/ic-detail-twitter.svg);}

/* emblem */
.ic-emblem {width: 2.4rem; height: 2.4rem;}
.ic-logo {width: 13.2rem; height: 8rem;}

.ic-emblem.kbl {background-image: url(/assets/img/ico/logo/ic-kbl.svg);}
.ic-emblem.kgc {background-image: url(/assets/img/ico/logo/ic-kgc.svg);}
.ic-emblem.lg {background-image: url(/assets/img/ico/logo/ic-lg.svg);}
.ic-emblem.sk {background-image: url(/assets/img/ico/logo/ic-sk.svg);}
.ic-emblem.hd {background-image: url(/assets/img/ico/logo/ic-hd.svg);}
.ic-emblem.sono {background-image: url(/assets/img/ico/logo/ic-sono.svg);}
.ic-emblem.kcc {background-image: url(/assets/img/ico/logo/ic-kcc.svg);}
.ic-emblem.db {background-image: url(/assets/img/ico/logo/ic-db.svg);}
.ic-emblem.kt {background-image: url(/assets/img/ico/logo/ic-kt.svg);}
.ic-emblem.pega {background-image: url(/assets/img/ico/logo/ic-pega.svg);}
.ic-emblem.ss {background-image: url(/assets/img/ico/logo/ic-ss.svg);}

.ic-emblem.jkj {background-image: url(/assets/img/logo/logo-jkj.png);}
.ic-emblem.cj {background-image: url(/assets/img/ico/logo/easia/emblem-cj.png);}
.ic-emblem.mb {background-image: url(/assets/img/ico/logo/easia/emblem-mb.png);}
.ic-emblem.mbb {background-image: url(/assets/img/ico/logo/easia/emblem-mbb.png);}
.ic-emblem.ntk {background-image: url(/assets/img/ico/logo/easia/emblem-ntk.png);}
.ic-emblem.rgk {background-image: url(/assets/img/ico/logo/easia/emblem-rgk.png);}
.ic-emblem.tfb {background-image: url(/assets/img/ico/logo/easia/emblem-tfb.png);}
.ic-emblem.ttg {background-image: url(/assets/img/ico/logo/easia/emblem-ttg.png);}
.ic-emblem.xb {background-image: url(/assets/img/ico/logo/easia/emblem-xb.png);}
.ic-emblem.at {background-image: url(/assets/img/ico/logo/easia/emblem-at.png);}
.ic-emblem.hke {background-image: url(/assets/img/ico/logo/easia/emblem-hke.png);}
.ic-emblem.un {background-image: url(/assets/img/ico/logo/easia/emblem-un.png);}


.ic-emblem.dark.lg {background-image: url(/assets/img/ico/logo/ic-lg-dark.svg);}
.ic-emblem.dark.kgc {background-image: url(/assets/img/ico/logo/ic-kgc-dark.svg);}

.ic-emblem.tpp {background-image: url(/assets/img/ico/logo/easia/emblem-tpp.png);}
.ic-emblem.hdf {background-image: url(/assets/img/ico/logo/easia/emblem-hdf.png);}
.ic-emblem.smb {background-image: url(/assets/img/ico/logo/easia/emblem-smb.png);}

.ic-logo.kbl {background-image: url(/assets/img/logo/logo-kbl.svg);}
.ic-logo.kgc {background-image: url(/assets/img/logo/logo-kgc.svg);}
.ic-logo.kgc-line {background-image: url(/assets/img/logo/logo-kgc-dark-line-20240919.svg);}
.ic-logo.lg {background-image: url(/assets/img/logo/logo-lg.svg);}
.ic-logo.sk {background-image: url(/assets/img/logo/logo-sk.svg);}
.ic-logo.hd {background-image: url(/assets/img/logo/logo-hd.svg);}
.ic-logo.sono {background-image: url(/assets/img/logo/logo-sono.svg);}
.ic-logo.kcc {background-image: url(/assets/img/logo/logo-kcc.svg);}
.ic-logo.db {background-image: url(/assets/img/logo/logo-db.svg);}
.ic-logo.kt {background-image: url(/assets/img/logo/logo-kt.svg);}
.ic-logo.pega {background-image: url(/assets/img/logo/logo-pega.svg);}
.ic-logo.ss {background-image: url(/assets/img/logo/logo-ss.svg);}

.ic-logo.sponsor.kgc {background-image: url(/assets/img/logo/sponsor-kgc.png);}
.ic-logo.sponsor.kcc {background-image: url(/assets/img/logo/sponsor-kcc.png);}
.ic-logo.sponsor.molten {background-image: url(/assets/img/logo/sponsor-molten.png);}

.ic-logo.dark.kbl {background-image: url(/assets/img/logo/logo-kbl-dark.svg);}
.ic-logo.dark.kgc {background-image: url(/assets/img/logo/logo-kgc-dark.svg);}
.ic-logo.dark.lg {background-image: url(/assets/img/logo/logo-lg-dark.svg);}
.ic-logo.dark.sk {background-image: url(/assets/img/logo/logo-sk-dark.svg);}
.ic-logo.dark.hd {background-image: url(/assets/img/logo/logo-hd-dark.svg);}
.ic-logo.dark.sono {background-image: url(/assets/img/logo/logo-sono-dark.svg);}
.ic-logo.dark.kcc {background-image: url(/assets/img/logo/logo-kcc-dark.svg);}
.ic-logo.dark.db {background-image: url(/assets/img/logo/logo-db-dark.svg);}
.ic-logo.dark.kt {background-image: url(/assets/img/logo/logo-kt-dark.svg);}
.ic-logo.dark.pega {background-image: url(/assets/img/logo/logo-pega-dark.svg);}
.ic-logo.dark.ss {background-image: url(/assets/img/logo/logo-ss-dark.svg);}

/*easl 구매내역*/
.ic-logo.tpp {background-image: url(/assets/img/ico/logo/easia/emblem-tpp.png);}
.ic-logo.hdf {background-image: url(/assets/img/ico/logo/easia/emblem-hdf.png);}
.ic-logo.smb {background-image: url(/assets/img/ico/logo/easia/emblem-smb.png);}
.ic-logo.xb {background-image: url(/assets/img/ico/logo/easia/emblem-xb.png);}
.ic-logo.at {background-image: url(/assets/img/ico/logo/easia/emblem-at.png);}
.ic-logo.hke {background-image: url(/assets/img/ico/logo/easia/emblem-hke.png);}
.ic-logo.un {background-image: url(/assets/img/ico/logo/easia/emblem-un.png);}

/* emblem 추가 */
.ic-emblem.kaf {background-image: url(/assets/img/ico/logo/ic-sangmu.svg);}
/*.ic-emblem.mong {background-image: url(/assets/img/ico/logo/etc/emblem-mong.svg);}*/
/*.ic-emblem.gong {background-image: url(/assets/img/ico/logo/etc/emblem-gong.svg);}*/
.ic-emblem.mong {background-image: url(/assets/img/ico/logo/etc/team03.svg);}
.ic-emblem.gong {background-image: url(/assets/img/ico/logo/etc/team04.svg);}
.ic-emblem.asia {background-image: url(/assets/img/ico/logo/etc/asia.svg);}
.ic-emblem.rookie {background-image: url(/assets/img/ico/logo/etc/rookie.svg);}
.ic-emblem.yonsei {background-image: url(/assets/img/ico/logo/etc/emblem-yonsei.svg);}

.ic-logo.kaf {background-image: url(/assets/img/logo/logo-sangmu.svg);}
.ic-logo.mong {background-image: url(/assets/img/ico/logo/etc/team03.svg);}
.ic-logo.gong {background-image: url(/assets/img/ico/logo/etc/team04.svg);}
.ic-logo.asia {background-image: url(/assets/img/ico/logo/etc/asia.svg);}
.ic-logo.rookie {background-image: url(/assets/img/ico/logo/etc/rookie.svg);}

/* emblem (옛날) */
.ic-emblem.kt1997 {background-image: url(/assets/img/ico/logo/old/kt1997e.png);}
.ic-emblem.kt1999 {background-image: url(/assets/img/ico/logo/old/kt1999e.png);}
.ic-emblem.kt2001-1 {background-image: url(/assets/img/ico/logo/old/kt2001-1e.png);}
.ic-emblem.kt2001-2 {background-image: url(/assets/img/ico/logo/old/kt2001-2e.png);}
.ic-emblem.kt2003-1 {background-image: url(/assets/img/ico/logo/old/kt2003-1e.png);}
.ic-emblem.kt2003-2 {background-image: url(/assets/img/ico/logo/old/kt2003-2e.png);}
.ic-emblem.kt2009 {background-image: url(/assets/img/ico/logo/old/kt2009e.png);}
.ic-emblem.kt2011-1 {background-image: url(/assets/img/ico/logo/old/kt2011-1e.png);}
.ic-emblem.kt2011-2 {background-image: url(/assets/img/ico/logo/old/kt2011-2e.png);}
.ic-emblem.hd1997 {background-image: url(/assets/img/ico/logo/old/hd1997e.png);}
.ic-emblem.hd2001 {background-image: url(/assets/img/ico/logo/old/hd2001e.png);}
.ic-emblem.hd2004 {background-image: url(/assets/img/ico/logo/old/hd2004e.png);}
.ic-emblem.db1997 {background-image: url(/assets/img/ico/logo/old/db1997e.png);}
.ic-emblem.db1999 {background-image: url(/assets/img/ico/logo/old/db1999e.png);}
.ic-emblem.db2002 {background-image: url(/assets/img/ico/logo/old/db2002e.png);}
.ic-emblem.db2003 {background-image: url(/assets/img/ico/logo/old/db2003e.png);}
.ic-emblem.db2005 {background-image: url(/assets/img/ico/logo/old/db2005e.png);}
.ic-emblem.db2006 {background-image: url(/assets/img/ico/logo/old/db2006e.png);}
.ic-emblem.ss1997 {background-image: url(/assets/img/ico/logo/old/ss1997e.png);}
.ic-emblem.ss2000 {background-image: url(/assets/img/ico/logo/old/ss2000e.png);}
.ic-emblem.ss2001 {background-image: url(/assets/img/ico/logo/old/ss2001e.png);}
.ic-emblem.lg1997 {background-image: url(/assets/img/ico/logo/old/lg1997e.png);}
.ic-emblem.lg2017 {background-image: url(/assets/img/ico/logo/old/lg2017e.png);}
.ic-emblem.lg2020 {background-image: url(/assets/img/ico/logo/old/lg2020e.png);}
.ic-emblem.dark.lg2020 {background-image: url(/assets/img/ico/logo/old/lg2020e-dark.png);}
.ic-emblem.sk1999 {background-image: url(/assets/img/ico/logo/old/sk1999e.png);}
.ic-emblem.sk2001 {background-image: url(/assets/img/ico/logo/old/sk2001e.png);}
.ic-emblem.kcc1997 {background-image: url(/assets/img/ico/logo/old/kcc1997e.png);}
.ic-emblem.kcc1999 {background-image: url(/assets/img/ico/logo/old/kcc1999e.png);}
.ic-emblem.or1997 {background-image: url(/assets/img/ico/logo/old/or1997e.png);}
.ic-emblem.or2011 {background-image: url(/assets/img/ico/logo/old/or2011e.png);}
.ic-emblem.or2022 {background-image: url(/assets/img/ico/logo/old/or2022e.png);}
.ic-emblem.kgc1997 {background-image: url(/assets/img/ico/logo/old/kgc1997e.png);}
.ic-emblem.kgc2005 {background-image: url(/assets/img/ico/logo/old/kgc2005e.png);}
.ic-emblem.kgc2010 {background-image: url(/assets/img/ico/logo/old/kgc2010e.png);}
.ic-emblem.kgc2011 {background-image: url(/assets/img/ico/logo/old/kgc2011e.png);}
.ic-emblem.zz1997 {background-image: url(/assets/img/ico/logo/old/zz1997e.png);}
.ic-emblem.zz1999 {background-image: url(/assets/img/ico/logo/old/zz1999e.png);}
.ic-emblem.zz2001 {background-image: url(/assets/img/ico/logo/old/zz2001e.png);}
.ic-emblem.zz2003 {background-image: url(/assets/img/ico/logo/old/zz2003e.png);}
.ic-emblem.zz2009 {background-image: url(/assets/img/ico/logo/old/zz2009e.png);}
.ic-emblem.pega2021 {background-image: url(/assets/img/ico/logo/old/pega2021e.png);}

.ic-logo.kt1997 {background-image: url(/assets/img/logo/old/kt1997.png);}
.ic-logo.kt1999 {background-image: url(/assets/img/logo/old/kt1999.png);}
.ic-logo.kt2001-1 {background-image: url(/assets/img/logo/old/kt2001-1.png);}
.ic-logo.kt2001-2 {background-image: url(/assets/img/logo/old/kt2001-2.png);}
.ic-logo.kt2003-1 {background-image: url(/assets/img/logo/old/kt2003-1.png);}
.ic-logo.kt2003-2 {background-image: url(/assets/img/logo/old/kt2003-2.png);}
.ic-logo.kt2009 {background-image: url(/assets/img/logo/old/kt2009.png);}
.ic-logo.kt2011-1 {background-image: url(/assets/img/logo/old/kt2011-1.png);}
.ic-logo.kt2011-2 {background-image: url(/assets/img/logo/old/kt2011-2.png);}
.ic-logo.hd1997 {background-image: url(/assets/img/logo/old/hd1997.png);}
.ic-logo.hd2001 {background-image: url(/assets/img/logo/old/hd2001.png);}
.ic-logo.hd2004 {background-image: url(/assets/img/logo/old/hd2004.png);}
.ic-logo.db1997 {background-image: url(/assets/img/logo/old/db1997.png);}
.ic-logo.db1999 {background-image: url(/assets/img/logo/old/db1999.png);}
.ic-logo.db2002 {background-image: url(/assets/img/logo/old/db2002.png);}
.ic-logo.db2003 {background-image: url(/assets/img/logo/old/db2003.png);}
.ic-logo.db2005 {background-image: url(/assets/img/logo/old/db2005.png);}
.ic-logo.db2006 {background-image: url(/assets/img/logo/old/db2006.png);}
.ic-logo.ss1997 {background-image: url(/assets/img/logo/old/ss1997.png);}
.ic-logo.ss2000 {background-image: url(/assets/img/logo/old/ss2000.png);}
.ic-logo.ss2001 {background-image: url(/assets/img/logo/old/ss2001.png);}
.ic-logo.lg1997 {background-image: url(/assets/img/logo/old/lg1997.png);}
.ic-logo.lg2017 {background-image: url(/assets/img/logo/old/lg2017.png);}
.ic-logo.lg2020 {background-image: url(/assets/img/logo/old/lg2020.png);}
.ic-logo.dark.lg2020 {background-image: url(/assets/img/logo/old/lg2020-dark.png);}
.ic-logo.sk1999 {background-image: url(/assets/img/logo/old/sk1999.png);}
.ic-logo.sk2001 {background-image: url(/assets/img/logo/old/sk2001.png);}
.ic-logo.kcc1997 {background-image: url(/assets/img/logo/old/kcc1997.png);}
.ic-logo.kcc1999 {background-image: url(/assets/img/logo/old/kcc1999.png);}
.ic-logo.or1997 {background-image: url(/assets/img/logo/old/or1997.png);}
.ic-logo.or2011 {background-image: url(/assets/img/logo/old/or2011.png);}
.ic-logo.or2022 {background-image: url(/assets/img/logo/old/or2022.png);}
.ic-logo.kgc1997 {background-image: url(/assets/img/logo/old/kgc1997.png);}
.ic-logo.kgc2005 {background-image: url(/assets/img/logo/old/kgc2005.png);}
.ic-logo.kgc2010 {background-image: url(/assets/img/logo/old/kgc2010.png);}
.ic-logo.kgc2011 {background-image: url(/assets/img/logo/old/kgc2011.png);}
.ic-logo.zz1997 {background-image: url(/assets/img/logo/old/zz1997.png);}
.ic-logo.zz1999 {background-image: url(/assets/img/logo/old/zz1999.png);}
.ic-logo.zz2001 {background-image: url(/assets/img/logo/old/zz2001.png);}
.ic-logo.zz2003 {background-image: url(/assets/img/logo/old/zz2003.png);}
.ic-logo.zz2009 {background-image: url(/assets/img/logo/old/zz2009.png);}
.ic-logo.pega2021 {background-image: url(/assets/img/logo/old/pega2021.png);}